body,html{
	padding: 0;
	margin: 0;
}

.padding_5{
	padding: 25rpx;
}

.justify_flex{
	display: flex;
	align-items: center;
	justify-content: center;
}
.justify_flex{
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex_1{
	flex: 1;
}