body,html{
	padding: 0;
	margin: 0;
}

.padding_25{
	padding: 24rpx;
}
.padding_vertical_16{
	padding: 16rpx 0;
}
.padding_hor_25{
	padding: 0 24rpx;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container{
	padding: 24rpx 0;
	height: 100vh;
}